{% extends 'base.html' %}
{% load static %}
{% block title %}
{{product.name}}
{% endblock %}
{% block content %}
<div>
    <div>
<!--     <p><a href="{% url 'YummieApp:allProdCat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.name}}</a> </p>-->
    </div>
    <div><br>
    <div>
        <div>
            <img src="{{product.img.url}}" alt="{{product.name}}" style="height:200px;width:200px;">
        </div>
    </div>
        <div>
            <div>
                <h1>{{product.name}}</h1>
                <p>Rs{{product.price}}</p>
                {% if product.stock <= 0 %}
                <p><b>Out of Stock</b></p>
                {% else %}
                <a href="{% url 'Cart:add_cart' product.id %}" class="btn btn-warning">Add To Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
